      .chat-message-user{
        display:flex;
        justify-content: end;
        align-items: start;
        
      }
      .chat-message-robot{
        display:flex;
        align-items: start;
        
      }
      .chat-message-text{
        background-color: rgb(238, 238, 238);
        padding: 12px 15px;
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        max-width: 350px;
      }
      .chat-message-profile{
        width: 50px;
        border-radius: 45px;
        object-fit: cover;
        height: 50px;
      }
